﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Reservations.aspx.cs" Inherits="Reservations" %>

<%@ Register src="ReservationRequest.ascx" tagname="ReservationRequest" tagprefix="uc1" %>

<%@ Register src="ReservationRequestNew.ascx" tagname="ReservationRequestNew" tagprefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        
    <uc1:ReservationRequest ID="ReservationRequest1" runat="server" />
    <uc2:ReservationRequestNew ID="ReservationRequestNew1" runat="server"  />
        
    </form>
</body>
</html>
